<html lang="en" >
<head>
  <title>boardgame</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="favicon.png"/>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="public/css/font-awesome.css">
  <link rel="stylesheet" href="public/css/style.css">
  <link
      rel="stylesheet"
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
</head>
<body ng-app="BlankApp" ng-cloak>

  <div ng-controller="GameController as gameCtrl"
       class="wrapper">
    <div class="board-wrapper">
      <md-button ng-repeat="tile in gameCtrl.getTiles()"
           ng-style="tile.styles"
           ng-click="tile.place(gameCtrl.placement)"
           class="box md-raised">
        <div class="resource"
             ng-if="tile.getFaStyles().length">
          <i class="fa"
             aria-hidden="true"
             ng-repeat="faStyle in tile.faStyles"
             ng-class="faStyle.style"></i>
        </div>
        {{tile.city}} 
      </md-button>
    </div>
    <div class="controls-wrapper">
      <md-button
           aria-label="placement"
           ng-click="gameCtrl.resetPlacement()">
        <i class="fa fa-mouse-pointer"
           aria-hidden="true"></i>
      </md-button>
      <md-button
           aria-label="person"
           ng-click="gameCtrl.togglePerson()"
           ng-class="{'md-primary': (gameCtrl.placement == 'person')}">
        <i class="fa fa-male"
           aria-hidden="true"></i>
      </md-button>
      <md-button
           aria-label="enemy"
           ng-click="gameCtrl.toggleEnemy()"
           ng-class="{'md-primary': (gameCtrl.placement == 'enemy')}">
        <i class="fa fa-user-secret"
           aria-hidden="true"></i>
      </md-button>
      <md-button
           aria-label="town"
           ng-click="gameCtrl.toggleTown()"
           ng-class="{'md-primary': (gameCtrl.placement == 'town')}">
        <i class="fa fa-home"
           aria-hidden="true"></i>
      </md-button>
      <md-button
           aria-label="fortress"
           ng-click="gameCtrl.toggleFortress()"
           ng-class="{'md-primary': (gameCtrl.placement == 'fortress')}">
        <i class="fa fa-building"
           aria-hidden="true"></i>
      </md-button>
      <div>
        <md-button class="small-btn"
                   aria-label="reduce resource"
                   ng-click="gameCtrl.minusResource(gameCtrl.resource, 'forest')">
          <i class="fa fa-minus-square-o"
             aria-hidden="true"></i>
        </md-button>
        <span>
          <i class="fa fa-tree"
             aria-hidden="true"></i>
          <i class="fa fa-times"
             aria-hidden="true"></i>
          {{gameCtrl.resource.forest}}
        </span>
        <md-button class="small-btn"
                   aria-label="add resource"
                   ng-click="gameCtrl.plusResource(gameCtrl.resource, 'forest')">
          <i class="fa fa-plus-square-o"
             aria-hidden="true"></i>
        </md-button>
      </div>
      <div>
        <md-button class="small-btn"
                   aria-label="reduce resource"
                   ng-click="gameCtrl.minusResource(gameCtrl.resource, 'field')">
          <i class="fa fa-minus-square-o"
             aria-hidden="true"></i>
        </md-button>
        <span>
          <i class="fa fa-pagelines"
             aria-hidden="true"></i>
          <i class="fa fa-times"
             aria-hidden="true"></i>
          {{gameCtrl.resource.field}}
        </span>
        <md-button class="small-btn"
                   aria-label="add resource"
                   ng-click="gameCtrl.plusResource(gameCtrl.resource, 'field')">
          <i class="fa fa-plus-square-o"
             aria-hidden="true"></i>
        </md-button>
      </div>
      <div>
        <md-button class="small-btn"
                   aria-label="reduce resource"
                   ng-click="gameCtrl.minusResource(gameCtrl.resource, 'mountain')">
          <i class="fa fa-minus-square-o"
             aria-hidden="true"></i>
        </md-button>
        <span>
          <i class="fa fa-cubes"
             aria-hidden="true"></i>
          <i class="fa fa-times"
             aria-hidden="true"></i>
          {{gameCtrl.resource.mountain}}
        </span>
        <md-button class="small-btn"
                   aria-label="add resource"
                   ng-click="gameCtrl.plusResource(gameCtrl.resource, 'mountain')">
          <i class="fa fa-plus-square-o"
             aria-hidden="true"></i>
        </md-button>
      </div>
      <div class="card-stacks">
        <div class="stack"
             ng-repeat="stack in gameCtrl.stacks track by $index">
          <div>
            <md-button class="small-btn"
                       aria-label="draw"
                       ng-disabled="gameCtrl.isDrawingCards"
                       ng-click="gameCtrl.drawCard($index)">
              <md-tooltip>Lấy bài</md-tooltip>
              <i class="fa fa-hand-lizard-o"
                 aria-hidden="true"></i>
            </md-button>
            <md-button class="small-btn"
                       aria-label="shuffle"
                       ng-click="gameCtrl.shuffleCards($index)">
              <md-tooltip>Xáo bài</md-tooltip>
              <i class="fa fa-refresh"
                 aria-hidden="true"></i>
            </md-button>
            <span class="md-caption"
                  ng-if="gameCtrl.doShowLastCard($index)">
              "{{gameCtrl.lastCard}}"
            </span>
          </div>
          <div class="card-wrapper"
               ng-repeat="card in gameCtrl.stacks[$index]">
            <div class="card"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="public/js/map.js"></script>  
  <script src="public/js/tile-model.js"></script>  
  <script src="public/js/tile-service.js"></script>  
  <script src="public/js/game-controller.js"></script>  
  <script src="public/js/app.js"></script>
  
</body>
</html>