body {
  overflow: hidden; }

.game-wrapper {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wrapper {
  background: white;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 1000px;
  height: 1000px; }

@keyframes jumping {
  0% {
    transform: translateY(0px); }
  30% {
    transform: translateY(-8px); }
  60% {
    transform: translateY(0px); } }

.board-wrapper {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(10, [col] 56px);
  grid-template-rows: repeat(16, [row] 56px);
  color: #444; }
  .board-wrapper .box {
    box-sizing: border-box;
    padding: 4px;
    font-size: 13px;
    min-width: 0;
    min-height: 0;
    margin: 0;
    line-height: normal;
    white-space: normal; }
    .board-wrapper .box .resource {
      margin-bottom: 4px; }
    .board-wrapper .box .fa {
      padding: 2px 1px;
      position: relative; }
      .board-wrapper .box .fa .annotate {
        font-family: "Roboto Mono";
        font-size: 8px;
        position: absolute;
        right: -1px;
        bottom: -3px; }
      .winning .board-wrapper .box .fa.fa-male {
        animation: jumping 1s ease infinite; }

.wrapper {
  display: flex;
  flex-direction: row; }

.controls-wrapper {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  align-self: flex-start; }
  .controls-wrapper > .md-button {
    max-width: 120px; }
  .controls-wrapper .add-res-btn {
    width: 180px; }
  .controls-wrapper .small-btn {
    min-width: 60px;
    margin-right: 0;
    margin-left: 2px; }
  .controls-wrapper .fa-times {
    font-size: 10px;
    position: relative;
    top: -2px; }
  .controls-wrapper .fa {
    width: 20px;
    text-align: center; }

.stack {
  width: 208px;
  position: relative; }
  .stack .card-wrapper {
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    display: inline-block;
    margin-right: 2px;
    width: 4px; }
    .shuffling-cards .stack .card-wrapper {
      opacity: 0; }
  .stack .card {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    background-color: #bdbdbd;
    border-radius: 2px;
    width: 12px;
    height: 24px; }
  .stack .shuffle {
    position: relative;
    top: -7px; }
  .stack .draw-row {
    white-space: nowrap; }

.resource-panel {
  background-color: #e5e5e5;
  border-radius: 2px;
  margin: 2px 0;
  padding: 2px;
  position: relative; }
  .resource-panel .resource-row {
    white-space: nowrap; }

.reset {
  position: fixed;
  bottom: 4px;
  right: 24px;
  opacity: .5; }

md-bottom-sheet {
  position: fixed;
  -webkit-backface-visibility: hidden; }

md-backdrop,
md-backdrop.md-opaque {
  -webkit-transition: none;
  transition: none; }

.overlay-controls {
  position: fixed;
  margin: 16px;
  bottom: 0;
  right: 0;
  background: rgba(235, 233, 235, 0.8);
  border-radius: 2px; }

@media only screen and (min-device-width: 480px) {
  .overlay-controls {
    display: none; } }
